<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Account Name: <%= accountName %></p>
<p>Account Number: <%= invoice.accountNumber %></p>
<p>Bank Name: <%= invoice.bankName %></p>
<p>Total Amount: <%- total %></p>
</body>
</html>
